<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>hello {{name}}</p>
    <form action="enviar">
        <label id="labelNombre" for="nombre">nombre</label>
        <input id="nombre"type="text">
      
        <label class="label" for="nombre">Apellido</label>
        <button type="submit">enviar</button>
    </form>
    <a href="https://www.mozilla.org/es-AR/about/manifesto/" target="_blank">Manifesto Mozilla</a>
</body>
</html>